#ehanlin-footer.basic {
  width: 980px;
  background: url('https://www.ehanlin.com.tw/images/body_bg.jpg') repeat;
  color: #898989;
  font-size: 13px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  font-family: "微軟正黑體", Arial, sans-serif;
}

#ehanlin-footer .footer {
  margin: 10px auto;
  border-top: 1px solid #cacaca;
  padding: 10px 5px;
  color: #797979;
  line-height: 2em;
  text-align: right;
}

.footer .browser li span {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(https://ehanlin-web-public-resource.s3-ap-northeast-1.amazonaws.com/web/eh-footer/l_icons.png) no-repeat 0 0;
  margin: 0 2px -3px 0;
}

#ehanlin-footer .footer .browser .edge {
  background-position: -500px 0;
}

#ehanlin-footer .footer .browser .safari {
  background-position: -550px 0;
}

#ehanlin-footer .footer .browser .chrome {
  background-position: -575px 0;
}

#ehanlin-footer a:hover {
  color: #ff7800;
  text-decoration: underline;
}

#ehanlin-footer .footer .browser li a {
  color: #797979;
}

#ehanlin-footer .footer .browser {
  display: inline-block;
}

#ehanlin-footer .footer .footer-left {
  float: left;
  text-align: left;
}

#ehanlin-footer .footer li {
  margin: 0 5px;
  display: inline-block;
}

#ehanlin-footer div {
  border: 0;
  display: block;
}

#ehanlin-footer p {
  padding: 0;
  margin: 0;
}

#ehanlin-footer a {
  color: #3498db;
  text-decoration: none;
  cursor: pointer;
}

#ehanlin-footer ul {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}
