#ehanlin-menu.nav {
  display: block;
  background: #009ac9;
  border: solid 3px #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 4px 1px #ccc;
  text-align: center;
}

#ehanlin-menu.nav li.glyph-icon {
  font-family: "微軟正黑體", Arial, sans-serif;
  color: #ecf0f1;
  width: 185px !important;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 0 !important;
}

#ehanlin-menu.nav li.glyph-icon a {
  color: #ecf0f1;
  font-size: 18px;
  display: inline;
}

#ehanlin-menu.nav li.glyph-icon + li {
  border-left: #fff dashed 1px;
}

#ehanlin-menu.nav li.glyph-icon a:link {
  text-decoration: none;
}

#ehanlin-menu.nav li.glyph-icon a:visited {
  color: #fff;
  text-decoration: none;
}

#ehanlin-menu.nav li.glyph-icon a:hover {
  color: #fff;
  text-decoration: none;
}

#ehanlin-menu.nav li.glyph-icon a:active {
  color: #fff;
  text-decoration: none;
}